h1 {
    color: white;
}

header {
    text-align: center;
    background: url("http://il5.picdn.net/shutterstock/videos/14941786/thumb/1.jpg");
    background-size: cover;
    background-position: center;
    padding
}

