body {
    background-size: cover;
    background-position: center;
    text-align: center;
}

img {
    vertical-align: middle;
}

p {
    display: inline-block;
    width: 74%;
    vertical-align: middle;
}